<div class="page-area">
    <h2>Gallery</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur esse ducimus eligendi id corrupti tempore
        magnam delectus quidem reiciendis non natus eius molestiae voluptates, temporibus eum quasi voluptatum ipsa
        enim!</p>
    <hr class="mb-3">

    <!-- this is a part of exercise 3 -->
    <div class="row">
        <div class="col-md-3" *ngFor="let item of galleryImages">
            <div class="card">
                <img src="{{item.imgUrl}}" style="height: 220px;" class="card-img-top" routerLink="{{item.id}}"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                </div>
            </div>
        </div>

        <!-- this is part of exercise 2 -->
        <!-- <div class="col-md-3">
            <div class="card">
                <img src="assets/mbl.jpg" style="height: 220px;" class="card-img-top" routerLink="mobile" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mobile</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/tv.jpg" style="height: 220px" class="card-img-top" routerLink="television" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TV</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/wm.jpg" style="height: 220px" class="card-img-top" routerLink="washing-machine"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Washing Machine</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/lptp.jpg" style="height: 220px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/mbl.jpg" style="height: 220px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mobile</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/tv.jpg" style="height: 220px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TV</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/wm.jpg" style="height: 220px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Washing Machine</h5>
                </div>
            </div>
        </div> -->
    </div>
</div>